body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
}
h1 {
    text-align: center;
    padding: 20px;
    background-color: #4a4a4a;
    color: white;
    margin: 0;
}

.formdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.form-container {
    background-color: #ffffff;
    padding: 30px;

    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 50%;
    text-align: center;
}

.formcontainer{
    width: 30%;
    text-align: center;
}
label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
    color: #555;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #4CAF50;
    outline: none;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

footer {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
    text-align: center;
}

.blocked-ips {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
h2 {
    color: #2d3748;
    margin: 1rem 0;
    font-size: 1.8rem;
    text-align: left;
    padding-left:10% ;
}

#blockedIpsList {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.blocked-ip-entry {
    background: white;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.blocked-ip-entry span {
    color: #2d3748;
    font-weight: 500;
}

.unblock-btn {
    background-color: #f94545;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
